.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: start;
  gap: 12px;
  padding: 6px 12px 6px 12px;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: 12px;
  height: 100%;
  margin-left: auto;
}

.input {
  width: 45px;
  appearance: none;
  border: none;
  margin-right: 3px;
  border: 1px solid black;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  padding: 2px 3px;
}

.done {
}

.cancel {
}

.button {
  display: flex;
  height: 100%;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 2px 5px;
}

.button > .image {
  height: 100%;
  width: auto;
  padding: 2px;
  object-fit: contain;
}

.button > .image:hover {
  border: 1px solid black;
  border-radius: 5px;
}
